.vector-overlay {
    padding-top: 2%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-inner {
    flex-wrap:wrap-reverse ;
}

.upload {
    grid-auto-rows: auto;
}

.upload-btn {
    margin-top: 2%;
}